.env
node_modules
.DS_Store
npm-debug.log
yarn-error.log
dist
coverage
.vscode
.idea
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sqlite
*.sqlite3
*.db
*.db-journal
*.pid
*.seed
*.tgz
*.zip
*.tar.gz
*.bak
*.swp
*.swo
*.tmp
*.sql
*.dump